doctype html
html(ng-controller='rootController')
  head
    meta(charset='utf8')
    base(href='/')
    title {{title}}
    link(rel='stylesheet', href='/css/app.css')
    script(src='components/requirejs/require.js', data-main='/js/main.js')
  body
    block body
